## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Manzhouli,CN,49.6000,117.4333,6.87,99,100,3.74,overcast clouds
1,1,Biloli,IN,18.7667,77.7333,66.72,73,85,0.76,overcast clouds
2,2,Dingle,PH,10.9995,122.6711,77.41,91,100,6.82,overcast clouds
3,3,Amboasary,MG,-25.0333,46.3833,67.84,61,33,5.48,scattered clouds
4,4,Abu Dhabi,AE,24.4667,54.3667,73.42,88,4,4.61,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?40
What is the maximum temperature you would like for your trip?90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp)& \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Biloli,IN,18.7667,77.7333,66.72,73,85,0.76,overcast clouds
2,2,Dingle,PH,10.9995,122.6711,77.41,91,100,6.82,overcast clouds
3,3,Amboasary,MG,-25.0333,46.3833,67.84,61,33,5.48,scattered clouds
4,4,Abu Dhabi,AE,24.4667,54.3667,73.42,88,4,4.61,clear sky
5,5,Bengkulu,ID,-3.8004,102.2655,75.88,83,100,6.15,light rain
7,7,Rikitea,PF,-23.1203,-134.9692,76.32,71,99,14.99,overcast clouds
8,8,Solano,US,38.2333,-121.9511,66.52,32,1,0.00,haze
9,9,Hokitika,NZ,-42.7167,170.9667,58.48,97,100,8.21,overcast clouds
11,11,Kiama,AU,-34.6833,150.8667,56.68,89,100,20.13,overcast clouds
12,12,Muncar,ID,-8.4333,114.3333,78.39,85,100,4.00,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                502
City                   502
Country                497
Lat                    502
Lng                    502
Max Temp               502
Humidity               502
Cloudiness             502
Wind Speed             502
Current Description    502
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Biloli,IN,18.7667,77.7333,66.72,73,85,0.76,overcast clouds
2,2,Dingle,PH,10.9995,122.6711,77.41,91,100,6.82,overcast clouds
3,3,Amboasary,MG,-25.0333,46.3833,67.84,61,33,5.48,scattered clouds
4,4,Abu Dhabi,AE,24.4667,54.3667,73.42,88,4,4.61,clear sky
5,5,Bengkulu,ID,-3.8004,102.2655,75.88,83,100,6.15,light rain
...,...,...,...,...,...,...,...,...,...,...
704,704,Yeppoon,AU,-23.1333,150.7333,82.18,77,100,2.89,overcast clouds
705,705,Puerto Asis,CO,0.5133,-76.5007,72.30,91,43,3.13,scattered clouds
707,707,Linqing,CN,36.8456,115.7117,40.46,64,3,5.50,clear sky
709,709,Nguruka,TZ,-5.1092,31.0419,62.92,95,79,2.33,broken clouds
710,710,Bundaberg,AU,-24.8500,152.3500,82.69,74,75,5.75,broken clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Biloli,IN,66.72,overcast clouds,18.7667,77.7333,
2,Dingle,PH,77.41,overcast clouds,10.9995,122.6711,
3,Amboasary,MG,67.84,scattered clouds,-25.0333,46.3833,
4,Abu Dhabi,AE,73.42,clear sky,24.4667,54.3667,
5,Bengkulu,ID,75.88,light rain,-3.8004,102.2655,
7,Rikitea,PF,76.32,overcast clouds,-23.1203,-134.9692,
8,Solano,US,66.52,haze,38.2333,-121.9511,
9,Hokitika,NZ,58.48,overcast clouds,-42.7167,170.9667,
11,Kiama,AU,56.68,overcast clouds,-34.6833,150.8667,
12,Muncar,ID,78.39,overcast clouds,-8.4333,114.3333,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found.....skipping.")

Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df=hotel_df[hotel_df["Hotel Name"]!='']
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Biloli,IN,66.72,overcast clouds,18.7667,77.7333,Anand
2,Dingle,PH,77.41,overcast clouds,10.9995,122.6711,SEGAYA PROPERTY
3,Amboasary,MG,67.84,scattered clouds,-25.0333,46.3833,DISCOVERY AMBOASARY
4,Abu Dhabi,AE,73.42,clear sky,24.4667,54.3667,Ramee Garden Hotel Apartments
5,Bengkulu,ID,75.88,light rain,-3.8004,102.2655,Grage Hotel Bengkulu
...,...,...,...,...,...,...,...
704,Yeppoon,AU,82.18,overcast clouds,-23.1333,150.7333,Villa Mar Colina
705,Puerto Asis,CO,72.30,scattered clouds,0.5133,-76.5007,Ayawaska Hostal
707,Linqing,CN,40.46,clear sky,36.8456,115.7117,Dongfang Hotel
709,Nguruka,TZ,62.92,broken clouds,-5.1092,31.0419,RUSULI LODGE
710,Bundaberg,AU,82.69,broken clouds,-24.8500,152.3500,Takalvan Motel

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))